USE [master]
GO
/****** Object:  Database [QLNhanVien_Net1_25-11]    Script Date: 25-Nov-22 9:17:25 AM ******/
CREATE DATABASE [QLNhanVien_Net1_25-11] ON  PRIMARY 
( NAME = N'QLNhanVien_Net1_25-11', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.LINH\MSSQL\DATA\QLNhanVien_Net1_25-11.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLNhanVien_Net1_25-11_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.LINH\MSSQL\DATA\QLNhanVien_Net1_25-11_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNhanVien_Net1_25-11].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNhanVien_Net1_25-11]
GO
/****** Object:  User [vulinh]    Script Date: 25-Nov-22 9:17:26 AM ******/
CREATE USER [vulinh] FOR LOGIN [vulinh] WITH DEFAULT_SCHEMA=[vulinh]
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'vulinh'
GO
sys.sp_addrolemember @rolename = N'db_securityadmin', @membername = N'vulinh'
GO
sys.sp_addrolemember @rolename = N'db_ddladmin', @membername = N'vulinh'
GO
sys.sp_addrolemember @rolename = N'db_datareader', @membername = N'vulinh'
GO
sys.sp_addrolemember @rolename = N'db_datawriter', @membername = N'vulinh'
GO
/****** Object:  Schema [vulinh]    Script Date: 25-Nov-22 9:17:26 AM ******/
CREATE SCHEMA [vulinh]
GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 25-Nov-22 9:17:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[MaNhanVien] [int] NOT NULL,
	[Ngay] [datetime] NOT NULL,
	[TinhTrang] [nchar](10) NOT NULL,
 CONSTRAINT [PK_ChamCong] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 25-Nov-22 9:17:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaCV] [int] NOT NULL,
	[TenCV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ctChucVu]    Script Date: 25-Nov-22 9:17:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ctChucVu](
	[MaNhanVien] [int] NOT NULL,
	[MaCV] [int] NOT NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NOT NULL,
	[LyDo] [text] NOT NULL,
 CONSTRAINT [PK_ctChucVu] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Luong]    Script Date: 25-Nov-22 9:17:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Luong](
	[HeSoLuong] [int] NOT NULL,
	[LuongCB] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 25-Nov-22 9:17:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [int] NOT NULL,
	[MaPB] [int] NOT NULL,
	[MaHD] [int] NOT NULL,
	[HeSoLuong] [int] NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[SoCM] [bigint] NULL,
	[DienThoai] [bigint] NULL,
	[TrinhDoHV] [nvarchar](50) NOT NULL,
	[DiaChi] [text] NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Hinh] [image] NULL,
	[TTHonNhan] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 25-Nov-22 9:17:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[MaPB] [int] NOT NULL,
	[TenPB] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PhongBan] PRIMARY KEY CLUSTERED 
(
	[MaPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Taikhoan]    Script Date: 25-Nov-22 9:17:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taikhoan](
	[MaNhanVien] [int] NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [int] NOT NULL,
	[TenQuyenHan] [nvarchar](50) NULL,
 CONSTRAINT [PK_Taikhoan] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongPhat]    Script Date: 25-Nov-22 9:17:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongPhat](
	[MaNhanVien] [int] NOT NULL,
	[Loai] [nchar](10) NOT NULL,
	[Tien] [numeric](18, 0) NULL,
	[LyDo] [text] NOT NULL,
	[Ngay] [datetime] NULL,
 CONSTRAINT [PK_ThuongPhat] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
