@model VuLinh_BTH2.Models.Person
@{
    ViewData["Title"] = "Edit";
}
<h4>Sua thong tin Nguoi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PersonId" />
            <div class="form-group">
                <label asp-for="PersonName" class="control-label"></label>
                <input asp-for="PersonName" class="form-control" />
                <span asp-validation-for="PersonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-success" asp-action="Index">Danh sach nguoi</a>
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    @{
      await Html.RenderComponentAsync("_ValidationScriptPartial");
    }
}